<div class="yellow-section-container">
  <h2
    class="yellow-section-catch-phrase-container"
    [ngClass]="{
      'xs-device': isDeviceXS(),
      'sm-device': isDeviceSm(),
      'm-device': isDeviceM(),
      'l-device': isDeviceL(),
      'xl-device': isDeviceXL(),
      web: isDeviceWeb()
    }"
  >
    Nos couchers de soleil
  </h2>

  <icon
    class="arrow --left"
    [ngClass]="{
      'xs-device': isDeviceXS(),
      's-device': isDeviceS(),
      'sm-device': isDeviceSm(),
      'm-device': isDeviceM(),
      'l-device': isDeviceL(),
      'xl-device': isDeviceXL(),
      web: isDeviceWeb(),
      disabled: currentPicPosition() === 0
    }"
    [iconName]="IconEnum.arrowLeft"
    (click)="currentPicPosition() > 0 && setCurrentPic(-1)"
  />

  <div class="yellow-section-pics-container" [ngClass]="{ web: isDeviceWeb() }">
    <div
      *ngFor="let pic of yellowSectionPics; let index = index"
      [class]="'yellow-section-background-pic ' + 'sunset-pic--' + index"
      [ngStyle]="{
        backgroundImage: 'url(' + pic.src + ')',
        backgroundPosition: pic.backgroundPosition
      }"
    ></div>
  </div>
  <icon
    class="arrow --right"
    [ngClass]="{
      'xs-device': isDeviceXS(),
      's-device': isDeviceS(),
      'sm-device': isDeviceSm(),
      'm-device': isDeviceM(),
      'l-device': isDeviceL(),
      'xl-device': isDeviceXL(),
      web: isDeviceWeb(),
      disabled: currentPicPosition() === yellowSectionPics.length - 1
    }"
    [iconName]="IconEnum.arrowRight"
    (click)="
      currentPicPosition() < yellowSectionPics.length - 1 && setCurrentPic(1)
    "
  />
</div>
