:host {
  display: block;

  .yellow-section-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    clip-path: url(#yellow-section-bg);
    height: 499vh;

    .yellow-section-catch-phrase-container {
      position: absolute;
      top: 0.5rem;
      left: 1rem;
      z-index: 6;
      height: 30rem;
      font-size: 5rem;
      font-family: "EasyNovember";
      line-height: 5.75rem;
      text-shadow: 0 0 2px rgba(211, 179, 74, 0.987), 0 0 10px #fff;
      color: #000000db;
      padding-left: 1rem;
      margin: 1rem 0;
      word-spacing: 0.75rem;
      text-wrap: pretty;

      &.xs-device {
        font-size: 4.5rem;
        left: 1rem;
      }

      &.sm-device {
        font-size: 5rem;
        line-height: 6rem;
      }

      &.m-device {
        font-size: 7rem;
        line-height: 9.5rem;
        top: 3rem;
      }
      &.xl-device {
        font-size: 12rem;
        line-height: 14rem;
        top: 10rem;
      }

      &.web {
        font-size: 5rem;
        line-height: 6rem;
        top: 3rem;
        left: 60%;
        text-shadow: none;
      }
    }

    .yellow-section-bg-clipper {
      position: absolute;
      top: -0.8rem;
      left: 0;
      z-index: 5;
      height: 101vh;
      width: 100%;
      overflow: hidden;

      rect {
        width: 100%;
        height: 100%;
        fill: #fff;

        &#mask-rect {
          mask: url(#yellow-section-mask);
          -webkit-mask: url(#yellow-section-mask);
        }
      }

      path {
        transform: scale(0.06) translate(-130%, -10%);
      }

      &.xs-device path {
        transform: scale(0.06) translate(-180%, 10%);
      }

      &.s-device path {
        transform: scale(0.07) translate(-180%, 50%);
      }

      &.m-device path {
        transform: scale(0.082) translate(-80%, 80%);
      }

      &.l-device path {
        transform: scale(0.1) translate(-75%, 60%);
      }
      &.xl-device path {
        transform: scale(0.13) translate(-95%, -18%);
      }
      &.web path {
        transform: scale(0.075, 0.05) translate(-28%, 545%);
      }
    }

    .yellow-section-background-pic {
      height: 99vh;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
