:host {
  display: block;

  .yellow-section-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500vh;

    .yellow-section-catch-phrase-container {
      position: absolute;
      top: 0.5rem;
      left: 1rem;
      z-index: 6;
      height: 30rem;
      font-size: 5rem;
      font-family: "EasyNovember";
      line-height: 5.75rem;
      text-shadow: 0 0 2px rgba(211, 179, 74, 0.987), 0 0 10px #fff;
      color: #000000db;
      padding-left: 1rem;
      margin: 1rem 0;
      word-spacing: 0.75rem;
      text-wrap: pretty;

      &.xs-device {
        font-size: 4.5rem;
        left: 1rem;
      }

      &.sm-device {
        font-size: 5rem;
        line-height: 6rem;
      }

      &.m-device {
        font-size: 7rem;
        line-height: 9.5rem;
        top: 3rem;
      }
      &.xl-device {
        font-size: 12rem;
        line-height: 14rem;
        top: 10rem;
      }

      &.web {
        font-size: 5rem;
        line-height: 6rem;
        top: 3rem;
        left: 60%;
        text-shadow: none;
      }
    }

    .yellow-section-bg-clipper {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      height: 100vh;
      width: 100%;
      overflow: hidden;
      padding: 0;

      rect {
        width: 100%;
        height: 100%;
        fill: #fff;

        &#mask-rect {
          mask: url(#yellow-section-mask);
          -webkit-mask: url(#yellow-section-mask);
        }
      }

      path {
        transform: scale(0.07) translate(30%, 200%);
      }

      &.xs-device path {
        transform: scale(0.08, 0.11) translate(10%, 10%);
      }

      &.s-device path {
        transform: scale(0.07, 0.11) translate(18%, 50%);
      }

      &.m-device path {
        transform: scale(0.09, 0.1) translate(-85%, 80%);
      }

      &.l-device path {
        transform: scale(0.1) translate(-75%, 60%);
      }
      &.xl-device path {
        transform: scale(0.12) translate(-95%, -18%);
      }
      &.web path {
        transform: scale(0.075, 0.05) translate(-28%, 545%);
      }
    }

    .yellow-section-background-pic {
      height: 99vh;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    .pin-spacer {
      left: 0;
      width: 100vw;
    }
  }
}
