<div class="green-section-container">
  <div class="clipped-hight-videos-container">
    <div class="high-video">
      <video autoplay playsinline [muted]="true" loop preload>
        <source src="/assets/videos/gabon_green.mp4" />
      </video>
    </div>
    <svg
      class="clipGreenVideo"
      viewBox="0 0 400 600"
      preserveAspectRatio="xMaxYMid slice"
    >
      <defs>
        <mask id="green-section-mask" x="0" y="0" width="100%" height="100%">
          <rect x="0" y="0" x="0" y="0" width="100%" height="100%" />
          <text x="123" y="295">Voyez</text>
          <text x="133" y="335">Vert</text>
          <circle class="cursor-mask" cx="64.3%" cy="54.1%" r="10" />
        </mask>
      </defs>

      <rect x="0" y="0" width="100%" height="100%" />
    </svg>
  </div>
  <div
    class="green-catch-phrases-container"
    [ngClass]="{
      'xs-device': isDeviceXS(),
      's-device': isDeviceS(),
      'l-device': isDeviceL(),
      'xl-device': isDeviceXL()
    }"
  >
    <h1
      class="green-catch-phrase"
      [ngClass]="{ 'xs-device': isDeviceXS(), 'm-device': isDeviceM() }"
    >
      «Rester, c'est exister. Voyager, c'est vivre»
    </h1>
    <h4>( Gustave Nadaud )</h4>
    <h6>Maintenant, vous pouvez expirer ,</h6>
    <h6>nous sommes carbone positif !</h6>
  </div>

  <div class="green-section-contents-container">
    <div class="green-section-contents">
      <div class="green-section-intro-content">
        <div class="low-video-container">
          <div class="low-video-content">
            <video autoplay playsinline [muted]="true" loop preload>
              <source src="/assets/videos/gabon_green.mp4" />
            </video>
          </div>
        </div>

        <h2 class="green-section-intro-text-content">
          Découvrez la dimension du vert
        </h2>
        <h3 class="green-section-intro-text-content">
          chez un leader mondial en protection de la biodiversité
        </h3>
        <div class="green-species-description">
          <div class="green-species-description-content">
            <h3>+ 200 espèces de Mammifères</h3>
          </div>
          <div class="green-species-description-content">
            <h3>+ 600 espèces d'oiseaux</h3>
          </div>
          <div class="green-species-description-content">
            <h3>+ 800 espèces d'arbres</h3>
          </div>
        </div>
      </div>

      <div class="green-section-second-content">
        <img
          class="green-section-second-content-bg"
          src="/assets/pics/plateaux-bateke.jpg"
          alt="plateaux_bateke"
        />
        <h2 class="green-section-second-content-catch-phrase">
          Naturellement unique
        </h2>
        <div class="separator first"></div>
        <div class="green-section-second-content-description">
          <p [ngClass]="{ 's-device': isDeviceS() }">
            Découvrez la beauté des chutes de Kongou, de Djidji et d’Iboundji,
            les paysages spectaculaires de la Lopé, de Wonga Wongué et des
            Plateaux Batéké, les sommets des Monts de Cristal et du Massif du
            Chaillu...<br />
            Découvrez le tout simplement sublime
          </p>
        </div>

        <div
          class="green-section-second-content-explore"
          [ngClass]="{
            'xs-device': isDeviceXS(),
            's-device': isDeviceS(),
            'sm-device': isDeviceSm(),
            'm-device': isDeviceM(),
            'l-device': isDeviceL(),
            'xl-device': isDeviceXL()
          }"
        >
          <div
            class="green-section-second-content-explore-content"
            [ngClass]="{ 'xl-device': isDeviceXL() }"
          >
            <div class="green-section-second-content-img-explore">
              <img src="/assets/pics/chutes-de-kongou.jpg" alt="" />
            </div>
            <div class="green-section-second-content-img-explore">
              <img src="/assets/pics/nyonie.jpg" alt="" />
            </div>
            <div class="green-section-second-content-img-explore">
              <img src="/assets/pics/parc-de-loango.jpg" alt="" />
            </div>
            <div class="green-section-second-content-img-explore">
              <img src="/assets/pics/parc-des-plateaux-bateke.jpg" alt="" />
            </div>
            <div class="green-section-second-content-img-explore">
              <img src="/assets/pics/parc-lope.jpg" alt="" />
            </div>
            <div class="green-section-second-content-img-explore">
              <img src="/assets/pics/parc-mayumba.jpg" alt="" />
            </div>
            <div class="green-section-second-content-img-explore">
              <img src="/assets/pics/parc-minkebe.jpg" alt="" />
            </div>
            <div class="green-section-second-content-img-explore">
              <img src="/assets/pics/parc-pongara.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
