<div class="green-section-container">
  <div class="high-video-container">
    <video autoplay playsinline [muted]="true" loop preload>
      <source src="/assets/videos/gabon_green.mp4" />
    </video>
  </div>
  <svg
    class="clipGreenVideo"
    viewBox="0 0 400 600"
    preserveAspectRatio="xMaxYMid slice"
  >
    <defs>
      <mask id="green-section-mask" x="0" y="0" width="100%" height="100%">
        <rect x="0" y="0" x="0" y="0" width="100%" height="100%" />
        <text x="123" y="295">Voyez</text>
        <text x="133" y="335">Vert</text>
        <circle class="cursor-mask" cx="64.1%" cy="54.1%" r="10" />
      </mask>
    </defs>

    <rect x="0" y="0" width="100%" height="100%" />
  </svg>
  <div class="green-catch-phrases-container">
    <h1 class="green-catch-phrase">
      «Rester, c'est exister. Voyager, c'est vivre»
    </h1>
    <h4>( Gustave Nadaud )</h4>
    <h6>Maintenant, vous pouvez expirer ,</h6>
    <h6>nous sommes carbone positif !</h6>
  </div>

  <div class="green-section-contents-container">
    <div class="green-section-contents">
      <div class="green-section-intro-content">
        <div class="low-video-container">
          <div class="low-video-content">
            <video autoplay playsinline [muted]="true" loop preload>
              <source src="/assets/videos/gabon_green.mp4" />
            </video>
          </div>
        </div>

        <h2 class="green-section-intro-text-content">
          Découvrez la dimension du vert
        </h2>
        <h3 class="green-section-intro-text-content">
          chez un leader mondial en protection de la biodiversité
        </h3>
        <div class="green-species-description">
          <div class="green-species-description-content">
            <h3>+ 200 espèces de Mammifères</h3>
          </div>
          <div class="green-species-description-content">
            <h3>+ 600 espèces d'oiseaux</h3>
          </div>
          <div class="green-species-description-content">
            <h3>+ 800 espèces d'arbres</h3>
          </div>
        </div>
      </div>

      <div class="green-section-second-content">
        <div class="green-section-second-content-catch-phrase">
          <h2>Naturellement unique</h2>
        </div>
        <div class="green-section-second-content-description">
          <p>
            Découvrez des trésors naturels, les chutes de Koungou, de Djidji et
            d’Iboundji, les paysages spectaculaires de la Lopé, de Wonga Wongué
            et des Plateaux Batéké, les sommets des Monts de Cristal et du
            Massif du Chaillu...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
