@font-face {
  font-family: RobotoRegular;
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: KhandLight;
  src: url("/assets/fonts/Khand/Khand-Light.ttf");
}
@font-face {
  font-family: KhandMedium;
  src: url("/assets/fonts/Khand/Khand-Medium.ttf");
}
@font-face {
  font-family: "Quicksand";
  src: url("/assets/fonts/Quicksand/Quicksand.ttf");
}
@font-face {
  font-family: "LoversQuarrel";
  src: url("/assets/fonts/Lovers_Quarrel/LoversQuarrel.ttf");
}

@font-face {
  font-family: "EasyNovember";
  src: url("/assets/fonts/EasyNovember.ttf");
}
