<div class="blue-section-container">
  <h2
    class="blue-section-catch-phrase"
    [ngClass]="{ 'm-device': isDeviceM(), 'xl-device': isDeviceXL() }"
  >
    Rêvez bleu
  </h2>
  <div class="blue-section-pics-container">
    <!-- <img src="" alt="" class="blue-section-pic first-content-pic" />
    <img src="" alt="" class="blue-section-pic first-content-pic" />
    <img src="" alt="" class="blue-section-pic first-content-pic" /> -->
  </div>
  <div class="blue-section-pics-container">
    <!-- <img src="" alt="" class="blue-section-pic second-content-pic" />
    <img src="" alt="" class="blue-section-pic second-content-pic" />
    <img src="" alt="" class="blue-section-pic second-content-pic" /> -->
  </div>
</div>
