:host {
  display: block;

  .app-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    section {
      height: 100vh;
      width: 100%;
      // z-index: 300;
      // border: 3px solid;
    }
  }
}
