:host {
  display: block;

  .app-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    section {
      height: 100vh;
      width: 100%;

      // &.yellow-section {
      //   border: 4px solid;
      //   z-index: 100;
      // }
    }
  }
}
