<div class="app-container">
  <div class="audio-container">
    <audio
      #audio
      src="/assets/audio/Annie-Flore Batchiellilys_JE TINVITE.mp3"
      preload="true"
    ></audio>
    <icon
      *ngIf="audio.paused"
      [iconName]="IconEnum.play"
      (click)="audio.play()"
    />
    <icon
      *ngIf="!audio.paused"
      [iconName]="IconEnum.pause"
      (click)="audio.pause()"
    />
  </div>
  <!-- <app-entry [animationTimeline]="mainAnimationTimeline" /> -->
  <section class="green-section">
    <green-section [animationTimeline]="mainAnimationTimeline" />
  </section>
  <section class="yellow-section">
    <yellow-section [animationTimeline]="mainAnimationTimeline" />
  </section>
  <section class="blue-section">
    <blue-section [animationTimeline]="mainAnimationTimeline" />
  </section>

  <section class="activity"></section>
</div>
