<div class="entry-container">
  <div class="entry-green-screen entry-screen"></div>
  <div class="entry-yellow-screen entry-screen animated"></div>
  <div class="entry-blue-screen entry-screen animated">
    <div class="blue-screen-content">
      <h2 class="blue-screen-description">Pensez à ...</h2>
      <h2 class="blue-screen-description">850 km de littoral</h2>
      <h2 class="blue-screen-description">
        13 Parcs Nationaux , et une faune diversifiée
      </h2>
      <h2 class="blue-screen-description">+ 85% de nature vierge à explorer</h2>
      <h2 class="blue-screen-description">sur 267 667 Km²</h2>
      <h2 class="blue-screen-description">
        Mais aussi + de 2 millions de sourires
      </h2>
      <h2 class="blue-screen-description">
        Prenez une profonde inspiration...
      </h2>
      <h2 class="blue-screen-description last-entry-description">
        Découvrez le Gabon .
      </h2>
    </div>
  </div>
</div>
