<div class="entry-container">
  <div class="entry-green-screen entry-screen"></div>
  <div class="entry-yellow-screen entry-screen animated"></div>
  <div class="entry-blue-screen entry-screen animated">
    <div class="blue-screen-content">
      <h2
        class="blue-screen-description"
        [ngClass]="{
          's-device': isDeviceS(),
          'l-device': isDeviceL(),
          web: isDeviceWeb()
        }"
      >
        850 km de littoral
      </h2>
      <h2
        class="blue-screen-description"
        [ngClass]="{
          's-device': isDeviceS(),
          'l-device': isDeviceL(),
          web: isDeviceWeb()
        }"
      >
        13 Parcs Nationaux
      </h2>
      <h2
        class="blue-screen-description"
        [ngClass]="{
          's-device': isDeviceS(),
          'l-device': isDeviceL(),
          web: isDeviceWeb()
        }"
      >
        Inspirez profondément...
      </h2>
      <h2
        class="blue-screen-description last-entry-description"
        [ngClass]="{
          's-device': isDeviceS(),
          'l-device': isDeviceL(),
          web: isDeviceWeb()
        }"
      >
        Découvrez <br />le Gabon .
      </h2>
    </div>
  </div>
</div>
