:host {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;

  .entry-container {
    position: relative;
    height: 100%;

    .entry-screen {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;

      &.entry-green-screen {
        background-color: #7cb06f;
      }

      &.entry-yellow-screen {
        background-color: rgb(228, 222, 154);
      }

      &.entry-blue-screen {
        background-color: #a6b9c8;
        display: flex;
        justify-content: center;
        align-items: center;

        .blue-screen-content {
          position: relative;
          height: 100%;
          width: 100%;

          h2.blue-screen-description {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            font-family: "KhandLight";
            font-size: 2.5rem;
            color: #000000ad;

            &.s-device {
              font-size: 4rem;
            }

            &.l-device {
              font-size: 5rem;
            }

            &.web {
              font-size: 3rem;
            }

            &.last-entry-description {
              color: #fff;

              &.s-device {
                font-size: 5rem;
              }

              &.l-device {
                font-size: 6rem;
              }
            }
          }
        }
      }
    }
  }
}
