<div class="green-section-intro-container">
  <div class="green-section-intro-clipped-video">
    <div class="intro-clipped-video">
      <video autoplay playsinline [muted]="true" loop preload>
        <source src="/assets/videos/gabon_green.mp4" />
      </video>
    </div>
    <svg
      class="clipGreenVideo"
      viewBox="0 0 400 600"
      preserveAspectRatio="xMidYMid slice"
    >
      <defs>
        <mask id="green-section-mask" x="0" y="0" width="100%" height="100%">
          <rect x="0" y="0" x="0" y="0" />
          <text
            [ngClass]="{
              'xl-device': isDeviceXL(),
              'xl-device--firefox':
                isDeviceXL() &&
                navigator() === UserAgent.navigator.get(UserAgent.Firefox)
            }"
            [attr.x]="
              isDeviceXL() &&
              navigator() === UserAgent.navigator.get(UserAgent.Firefox)
                ? 150
                : 125
            "
            y="295"
          >
            Voyez
          </text>
          <text
            [ngClass]="{
              'xl-device': isDeviceXL(),
              'xl-device--firefox':
                isDeviceXL() &&
                navigator() === UserAgent.navigator.get(UserAgent.Firefox)
            }"
            [attr.x]="
              isDeviceXL() &&
              navigator() === UserAgent.navigator.get(UserAgent.Firefox)
                ? 155
                : 133
            "
            [attr.y]="
              isDeviceXL() &&
              navigator() === UserAgent.navigator.get(UserAgent.Firefox)
                ? 320
                : 335
            "
          >
            Vert
          </text>
          <circle
            class="cursor-mask"
            [attr.cx]="isDeviceHandSet() ? '65%' : '58%'"
            [attr.cy]="
              navigator() === UserAgent.navigator.get(UserAgent.Firefox)
                ? '52.1%'
                : '54.1%'
            "
            r="10"
          />
        </mask>
      </defs>

      <rect x="0" y="0" />
    </svg>
  </div>
  <div
    class="green-catch-phrases-container"
    [ngClass]="{
      'xs-device': isDeviceXS(),
      's-device': isDeviceS(),
      'l-device': isDeviceL(),
      'xl-device': isDeviceXL()
    }"
  >
    <h1
      class="green-catch-phrase"
      [ngClass]="{
        'xs-device': isDeviceXS(),
        'm-device': isDeviceM(),
        'xl-device': isDeviceXL(),
        web: isDeviceWeb()
      }"
    >
      «Rester, c'est exister. Voyager, c'est vivre»
    </h1>
    <h6 [ngClass]="{ 'xl-device': isDeviceXL() }">( Gustave Nadaud )</h6>
    <h5
      [ngClass]="{
        'm-device': isDeviceM(),
        'xl-device': isDeviceXL(),
        web: isDeviceWeb()
      }"
    >
      Maintenant, vous pouvez expirer ,
    </h5>
    <h3
      [ngClass]="{
        'm-device': isDeviceM(),
        'xl-device': isDeviceXL(),
        web: isDeviceWeb()
      }"
    >
      nous sommes carbone positif !
    </h3>
  </div>
</div>

<!-- green section second frame -->
<div class="green-section-contents">
  <div class="green-section-first-content">
    <div
      class="low-video-container"
      [ngClass]="{
        'sm-device': isDeviceSm(),
        'm-device': isDeviceM(),
        web: isDeviceWeb()
      }"
    >
      <img
        src="/assets/pics/g-section/leaf_1.png"
        alt="leaf"
        class="leaf leaf--1"
      />
      <img
        src="/assets/pics/g-section/leaf_2.png"
        alt="leaf"
        class="leaf leaf--2"
      />
      <img
        src="/assets/pics/g-section/leaf_1.png"
        alt="leaf"
        class="leaf leaf--3"
      />
      <div class="green-first-content-rounded-video">
        <video autoplay playsinline [muted]="true" loop preload>
          <source src="/assets/videos/gabon_green.mp4" />
        </video>
      </div>
    </div>

    <h2
      class="green-section-first-content-catch-phrase"
      [ngClass]="{
        'xs-device': isDeviceXS(),
        'xl-device': isDeviceXL(),
        web: isDeviceWeb()
      }"
    >
      Découvrez la dimension du vert
    </h2>
    <h3
      class="green-section-first-content-catch-phrase"
      [ngClass]="{ 'xl-device': isDeviceXL(), web: isDeviceWeb() }"
    >
      chez un leader mondial en protection de la biodiversité
    </h3>
    <div
      class="green-section-first-content-species-description"
      [ngClass]="{
        'm-device': isDeviceM(),
        'xl-device': isDeviceXL(),
        web: isDeviceWeb()
      }"
    >
      <div
        class="green-section-first-content-species-description-content"
        [ngClass]="{
          'm-device': isDeviceM(),
          'xl-device': isDeviceXL(),
          web: isDeviceWeb()
        }"
      >
        <h3>+ 800 espèces d'arbres</h3>
      </div>
      <div
        class="green-section-first-content-species-description-content"
        [ngClass]="{
          'm-device': isDeviceM(),
          'xl-device': isDeviceXL(),
          web: isDeviceWeb()
        }"
      >
        <h3>+ 600 espèces d'oiseaux</h3>
      </div>
      <div
        class="green-section-first-content-species-description-content"
        [ngClass]="{
          'm-device': isDeviceM(),
          'xl-device': isDeviceXL(),
          web: isDeviceWeb()
        }"
      >
        <h3>+ 200 espèces de Mammifères</h3>
      </div>
    </div>
  </div>

  <div class="green-section-second-content-container">
    <h2
      class="green-section-second-content-catch-phrase"
      [ngClass]="{ 'xs-device': isDeviceXS(), 'xl-device': isDeviceXL() }"
    >
      Naturellement unique
    </h2>
    <div class="green-section-second-content-description">
      <p
        [ngClass]="{
          'xs-device': isDeviceXS(),
          's-device': isDeviceS(),
          web: isDeviceWeb()
        }"
      >
        Découvrez la beauté des chutes de Kongou, de Djidji et d’Iboundji, les
        paysages spectaculaires de la Lopé, de Wonga Wongué et des Plateaux
        Batéké. Les sommets des Monts de Cristal et du Massif du Chaillu...<br />
        Découvrez le tout simplement sublime
      </p>
    </div>

    <div
      class="green-section-second-content"
      [ngClass]="{ web: isDeviceWeb() }"
    >
      <img
        #greenSectionSecondContentBg
        class="green-section-second-content-bg"
        [src]="greenPics[8].src"
        alt="plateaux_bateke"
      />
      <div
        class="green-section-second-content-explore"
        [ngClass]="{
          'xs-device': isDeviceXS(),
          's-device': isDeviceS(),
          'sm-device': isDeviceSm(),
          'm-device': isDeviceM(),
          'l-device': isDeviceL(),
          'xl-device': isDeviceXL()
        }"
      >
        <div
          class="green-section-second-content-explore-content"
          [ngClass]="{ 'xl-device': isDeviceXL() }"
        >
          <div
            *ngFor="let pic of greenPics; let index = index"
            class="green-section-second-content-parcs-explore"
            (click)="
              !greenSectionSecondContentBg.src.includes(pic.src) &&
                onSelectGreenSectionSecondContentBg(
                  greenSectionSecondContentBg,
                  pic.src
                )
            "
          >
            <img
              [src]="pic.src"
              [alt]="pic.alt"
              [style]="{ clipPath: 'url(#parc--' + index + ')' }"
            />

            <svg viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg">
              <clipPath [id]="'parc--' + index">
                <path
                  [style]="{ animationDuration: pic.animationDuration }"
                  fill="#FF0066"
                  d="M416.5,342Q358,444,241.5,442Q125,440,64.5,340Q4,240,66,143.5Q128,47,240.5,46Q353,45,414,142.5Q475,240,416.5,342Z"
                  transform="translate(100 100)"
                />
              </clipPath>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
