@import "../../../styles/mixins.scss";

:host {
  display: block;
  height: 100vh;

  .green-section-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;

    & > * {
      width: 100%;
    }

    .clipped-hight-videos-container {
      position: relative;
      width: 100%;
      height: 28rem;

      margin-bottom: 4rem;

      & > * {
        width: 100%;
        height: 100%;
      }
      .high-video {
        width: 100%;
        height: 100%;

        video {
          width: 100%;
          height: 100%;
        }
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        text {
          font-size: 8em;
          font-weight: 900;
          font-family: "Quicksand";

          &.xl-device {
            font-size: 4rem;
          }
          &.xl-device--firefox {
            font-size: 3rem;
          }
        }

        rect {
          fill: #fff;
          width: 100%;
          height: 100%;
        }

        & > rect {
          -webkit-mask: url(#green-section-mask);
          mask: url(#green-section-mask);
        }

        circle {
          -webkit-mask: url(#green-section-mask);
          mask: url(#green-section-mask);
        }
      }
    }

    .green-catch-phrases-container {
      margin-top: -5rem;
      display: flex;
      flex-direction: column;

      &.xs-device {
        margin-top: -3rem;
      }

      &.s-device {
        margin-top: 4rem;
      }

      &.l-device {
        margin-top: 15rem;
      }

      &.xl-device {
        margin-top: 3rem;
      }

      & > * {
        text-align: center;
      }

      h1.green-catch-phrase {
        font-size: 2.5rem;
        font-family: "LoversQuarrel";

        &.xs-device {
          font-size: 3.5rem;
        }

        &.m-device {
          font-size: 5rem;
        }
      }

      h4 {
        font-size: 1.25rem;
        font-family: "Quicksand";
        color: lightslategrey;
        margin-top: 1rem;
      }

      h6 {
        font-size: 1.25rem;
        font-family: RobotoRegular;
        height: 0.25rem;
        color: #0e5d33e3;

        &:first-child {
          margin-top: 2rem;
        }

        &:last-child {
          margin-top: 3rem;
          font-family: "LoversQuarrel";
          font-size: 3.5rem;
        }
      }
    }

    .green-section-contents-container {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #748871;

      .green-section-contents {
        position: relative;
        height: 100%;
        width: 100%;

        .green-section-intro-content {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .low-video-container {
            @include flexCentered;
            width: 26rem;
            height: 26rem;
            border: none;
            border-radius: 50%;
            margin: 2rem 0;
            align-self: center;
            box-shadow: 5px -5px 12px#00000078, -4px 5px 15px #000000d7,
              5px 20px 20px #eeebeb78;

            overflow: hidden;

            .low-video-content {
              @include flexCentered;
              width: 25rem;
              height: 25rem;
              border: none;
              border-radius: 50%;
              overflow: hidden;
            }
          }

          h2 {
            text-align: center;
            margin: 1rem 0;
            color: #d6d1d1;
            font-size: 3rem;
            font-weight: 300;
            font-family: "LoversQuarrel";
          }

          h3.green-section-intro-text-content {
            font-size: 2rem;
            text-align: center;
            font-family: "KhandLight";
            height: 5rem;
            margin-bottom: 5rem;
          }

          .green-species-description {
            display: flex;
            flex-direction: column;
            align-self: center;

            div {
              display: flex;
              align-items: center;
              border-left: 4px solid #a0a0a0c4;
              padding-left: 2rem;
              margin: 0.5rem 0;
              height: 2.5rem;
              overflow: hidden;

              h3 {
                font-family: "KhandRegular";
                font-size: 1.8rem;
                color: #d6d1d1;
                height: 100%;
              }
            }
          }
        }

        .green-section-second-content {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;

          & > * {
            z-index: 3;
            margin: 0;
          }

          img.green-section-second-content-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-position: 30% center;
            filter: grayscale(80%);
          }

          h2.green-section-second-content-catch-phrase {
            padding-top: 1rem;
            padding-left: 1rem;
            font-size: 3em;
            font-family: "Quicksand";
            font-weight: 600;
            color: #ffffff;
            text-shadow: 0 -1px 10px #000, 0 1px 10px#000;
            text-transform: uppercase;
            height: 4rem;
          }

          .separator {
            width: 70%;
            height: 0;
            border-bottom: 2px solid #ffffffcc;
            margin-left: 1rem;
          }

          .green-section-second-content-description {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin-top: -1.5rem;

            p {
              font-size: 2rem;
              font-family: "KhandLight";
              width: 19em;
              color: #fff;
              background-color: #21311ebd;
              padding: 0.75rem;
              text-wrap: pretty;
              margin-right: 2.5rem;

              &.s-device {
                font-size: 2.75rem;
              }
            }
          }

          .green-section-second-content-explore {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 30rem;
            overflow-x: scroll;
            overflow-y: hidden;
            margin-top: 2rem;
            background-color: #00000053;
            user-select: none;

            &.xs-device {
              margin-top: 10rem;
            }

            &.s-device {
              margin-top: 18rem;
            }

            &.sm-device {
              margin-top: 8rem;
            }

            &.m-device {
              margin-top: 30rem;
            }

            &.l-device {
              margin-top: 40rem;
            }

            &.xl-device {
              margin-top: 5rem;
            }

            .green-section-second-content-explore-content {
              display: flex;
              height: 100%;
              width: 100%;
              padding-top: 2rem;

              .green-section-second-content-img-explore {
                position: relative;
                width: 20rem;
                height: 19rem;
                box-shadow: 0 0 10px #fff;
                transition: all 0.3s ease;
                cursor: pointer;
                margin: 0 0.25rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                  content: "";
                  position: absolute;
                  top: 0.5rem;
                  left: 0.1rem;
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  border-top: 1px solid #ffffffe5;
                  border-right: 1px solid #ffffffe5;
                  border-bottom: 1px solid #ffffffe5;
                }

                img {
                  object-fit: cover;
                  width: 20rem;
                  height: 20rem;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}
